@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
} 

* {
  font-family: "Open Sans", sans-serif;
}

.btn-pry {
  @apply font-medium border border-green-600 rounded-xl inline-flex px-4 py-2 bg-green-100 shadow-lg transition transform duration-200 ease-in-out cursor-pointer hover:scale-105 hover:-translate-y-0.5 hover:bg-linear-to-r hover:from-green-600 hover:to-green-300 hover:shadow-2xl;
}
.btn-sec {
  @apply font-medium inline-flex px-4 py-2 bg-linear-to-r from-green-600 to-green-300 rounded-xl shadow-lg transition transform duration-200 ease-out cursor-pointer hover:scale-105 hover:-translate-y-0.5 hover:shadow-2xl;
}